<div class=" col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td> <a href=""> Delete </a> | <a [routerLink]="['/product/create/1']"> Edit </a> </td>
            </tr>
        </tbody>
    </table>
</div>
